<%= form_for @story do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_area :title, placeholder: "Add a title", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.url_field :url, placeholder: "https://example.com", class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Cancel", stories_path, class: "btn btn-link" %>
<% end %>
