<h1 class="text-right">
  <%= link_to stories_path, class: "btn btn-default" do%>
    Back &rarr;
  <% end %>
</h1>

<table class="table">
  <%= render @story, from_comment_show: true %>
</table>

<hr>

<h3 class="text-center text-info">Comments</h3>

<%= form_for [@story, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, autofocus: true, placeholder: "Add a comment", class: "form-control" %>
  </div>

  <div class="submit text-right">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<ul>
  <%= render partial: "comments/comment", collection: @comments %>
</ul>
