<h1 class="text-right">
  <%= link_to stories_path, class: "btn btn-default" do%>
    Back &rarr;
  <% end %>
</h1>

<%= render @story, from_comment_show: true %>

<hr>

<h3 class="text-center text-info">Comments</h3>

<%= form_for [@story, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", rows: 5 %>
  </div>

  <div class="submit text-right">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<ul>
  <%= render partial: "comments/comment", collection: @comments %>
</ul>
