<h1 class="text-right">
  <%= link_to stories_path, class: "btn btn-default" do%>
    Back &rarr;
  <% end %>
</h1>

<table class="table">
  <%= render @story, from_comment_show: true %>
</table>

<h1 class="text-center text-info" style="margin: 60px 0 50px;">Comments</h1>

<div class="" style="border: none;">
  <%= form_for [@story, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Add a comment ...", class: "form-control", id: "new-comment" %>
    <div class="submit text-right">
      <button type="button" id="cancel">Cancel</button>
      <%= f.submit "Submit", class:"fsubmit" %>
    </div>
  <% end %><!-- end new comment --->
</div>

<hr>

<ul>
  <%= render partial: "comments/comment", collection: @comments %>
</ul><!-- end render comment partial -->

<script type="text/javascript">
  $(document).on("turbolinks:load", function(){
    $(".submit").hide();

    $("#new-comment").click(function(){
      $(".submit").show();
    });

    $("#cancel").click(function(){
      $(".submit").hide();
      $("#new-comment").val("");
    })
  })
</script>
